{
  "env": {
    "browser": true,
    "es6": false,
    "node": true
  },
  "extends": [
    "eslint-config-prettier"
  ],
  "plugins": ["eslint-plugin-prettier", "@babel"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "requireConfigFile": false
    // "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-parens": ["error", "always"],
    "arrow-body-style": [2, "as-needed"],
    // "comma-dangle": [
    //   2,
    //   "always-multiline"
    // ],
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": [2, "unix"]
  }
}
